*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.log{
    width: 300px;
    height: 296px;
    color: black;
    padding: 30px 10px 10px;
    background-color: #edf4ed;
    position: relative;
}
.log div{
    width: 280px;
    height: 27.6px;
    margin-bottom: 10px;    
}
.log .log-1 span{
    font-size: 13px;
    display: inline-block;
    width: 140px;
    text-align: center;
    float: left;
    padding: 2px;
}
.log .log-1 span.active{
    font-weight: bold;
    border-bottom: 1px solid #494949;
}
.log .log-1 span.active a{
    color: black;    

}
.log .log-1 span a{
    color: rgb(155, 155, 155); 
}

.log .log-2{
    color: rgb(155, 155, 155); 
    font-size: 12px;
    margin-bottom: 2px;
}
.log .log-2 span a{
    color:rgb(65, 172, 82);
}

.log .log-3{
    border: 1px solid rgb(226, 221, 221);
    border-radius: 3px;
    height: 33px;
    position: relative;
    background-color: #fff;
}
.log .log-3 .area-num{
    display: inline-block;
    width: 50px;
    height: 20px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    position: absolute;
    line-height: 20px;
    border-right: 1px solid rgb(226, 221, 221);
    top: 6px;
    left: 0;
    cursor: pointer;
}
.log .log-3 .area-num-choo{
    width: 300px;
    height: 296px;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    left: -11px;
    top: -98px;
    z-index: 1;
    display: none;

}
.log .log-3 .area-num-choo .choo-item{
    width: 284px;
    height: 224px;
    position: absolute;
    left: 9px;
    top: 29px;
    border: 1px solid #bbb;
    border-radius: 4px;

}
.log .log-3 .area-num-choo .choo-item .title{
    width: 282px;
    height: 38px;
    background: #ebf5eb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
}
.log .log-3 .area-num-choo .choo-item .title h3{
    padding-left: 10px;
    padding-top: 10px;
    color: #060;
    font-size: 1.17em;
    font-weight: bold;
}
.log .log-3 .area-num-choo .choo-item .title span{
    position: absolute;
    cursor: pointer;
    left: 265px;
    top: 4px;
}
.log .log-3 .area-num-choo .choo-item .chooses{
    width: 100%;
    height: 184px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
    padding: 15px;
}
.log .log-3 .area-num-choo .choo-item .chooses ul li{
    width:235px;
    height: 36px;
    line-height: 2.6;
    color:#494949;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}
.log .log-3 .area-num-choo .choo-item .chooses ul li.active{
    color: #42bd56;
    position: relative;
}
.log .log-3 .area-num-choo .choo-item .chooses ul li.active .num{
    color: #42bd56;
}
.log .log-3 .area-num-choo .choo-item .chooses ul li.active .country::after{
    content: "√";
    color: #42bd56;
    position: absolute;
    top: 0px;
    left: 35px;
}
.log .log-3 .area-num-choo .choo-item .chooses ul li .num{
    float: right;
    font-weight: normal;
    color: #aaa;
}
.log .log-3 input{
    position: absolute;
    top: 0px;
    left: 60px;
    height: 31px;
    width: 200px;
}

.log .log-4{
    height: 33px;
    border: 1px solid rgb(226, 221, 221);
    position: relative;
    border-radius: 3px;
    background-color: #fff;
}
.log .log-4 input{
    height: 30px;
    width: 200px;
    padding-left: 10px;
    position: absolute;
    top: .5px;
}
.log .log-4 button{
    height: 30px;
    background-color: #fff;
    width: 75px;
    position: absolute;
    left: 200px;
    top: 0.5px;
    color: #41ac52;
    cursor: pointer;
}

.log .log-5{
    height: 34px;
    border-radius: 3px;
    background-color: rgba(66,189,86,.5);
    opacity: .6;
}
.log .log-5 button{
    width: 100%;
    height: 34px;
    border-radius: 3px;
    background-color: rgba(66,189,86,.5);
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

.log .log-6{
    height: 30px;
    margin-bottom:0;
}
.log .log-6 input{
    margin-right: 3px;
}
.log .log-6 span.floatr{
    font-size: 13px;
    float: right;
}
.log .log-6 a{
    color: #41ac52;
    padding-right: 1px;
}

.log .log-7{
    width: 250px;
    height: 33px;
    border-top: 1px solid #ddd;
    color: #9b9b9b;
    font-size: 11px;
    padding-top: 5px;
    position: relative;
}
.log .log-7 span{
    display: inline-block;
    position: absolute;
    top: 10px;
}
.log .log-7 i{
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
    margin-top: -4px;
}
.log .log-7 i.icon-weixin-copy{
    color: #45cd76;
    margin-left: 71px;
}
.log .log-7 i.icon-xinlangweibo{
    color: #e06454;
}

.log .log-8{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 260px;
    top: 10px;
}
.log .log-8 a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/download.png") no-repeat 0 0/100% 100%;
    position: relative;
}
.log .log-8 a:hover{
    /* 不透明度 */
    opacity: .8;
}
.log .log-8 a:hover::before{
    width: 65px;
    height: 20px;
    position: absolute;
    content: "扫码登录";
    border: 1px solid rgba(66,189,86,.3);
    border-radius: 3px;
    padding: 3px 5px;
    color: #666;
    font-size: 13px;
    top: 0px;
    right: 50px;
    background: #f5faf9;
}
.log .log-8 a:hover::after{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid rgba(66,189,86,.3);
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    position: absolute;
    top: 9px;
    right: 45px;
    background-color: #f5faf9;
}
.log .code-log{
    width: 280px;
    height: 300px;
    background-color: #edf4ed;
    position: absolute;
    left: 10px;
    top: 0px;
    display: none;
}
.log .code-log .tishi{
    padding: 10px 0 0 5px;
    font-weight: bold;
}
.log .code-log .code-img{
    display: block;
    width: 195px;
    margin: 20px auto 0; 

}
.log .code-log .code-img span{
    text-align: center;
    display: inline-block;
    width: 220px;
    border-radius: 14px;
    background-color: #ddd;
    height: 30px;
    line-height: 30px;
    margin-left: -11px;
    margin-top: 5px;
}
.log .code-log .code-8 a{
    background-image: url("../img/log-8.png");
}
.log .code-log .code-8 a:hover::before{
   content: "短信登录/注册";
   width: 85px;
}